
.mainContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;  
  margin-left: 130px;
  margin-right: 152px;
  margin-top: 47px;
  padding: 0;   
}

.reviewContainerOne{
  display: flex;
  justify-content: space-around;
  align-items: center;  
  margin-left: 130px;
  margin-right: 152px;
  margin-top: 50px;
  padding: 0;  
}
.reviewContainerTwo{
  display: flex;
  justify-content: space-around;
  align-items: center;  
  margin-left: 130px;
  margin-right: 152px;
  margin-top: 35px;
  padding: 0;  
}